*{
  background: lightgray;
}
h4,
span,
h1.title {
  font-family: "Roboto", san-serif;
  color: black;
  background: none;
  text-align: center;
}

div.cajas { 
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.uso {
  display: flex;
  float: left;
  width: 550px;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 3px solid black;
  border-radius: 15%;
  background-color: lightblue;
  box-shadow: 3px 3px 5px 0px black;
  padding: 40px;
}

div.funcionamiento {
  display: flex;
  float: left;
  width: 550px;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 3px solid rgb(0, 0, 0);
  background: lightgreen;
  box-shadow: 3px 3px 5px 0px black;
  border-radius: 15%;
  padding: 40px;
}

div.datos {
  display: flex;
  float: left;
  width: 550px;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 5px 0px black;
  background: orange;
  border-radius: 15%;
  padding: 40px;
}

div.ventajas {
  display: flex;
  float: left;
  width: 550px;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 5px 0px black;
  background: #DAB1DA;
  border-radius: 15%;
  padding: 40px;
}

div.riesgos {
  display: flex;
  float: left;
  width: 550px;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 5px 0px black;
  background: Pink;
  border-radius: 15%;
  padding: 45px;
}

div.opinion {
  display: flex;
  float: left;
  width: 550px;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 3px 3px 5px 0px black;
  background: lightblue;
  border-radius: 15%;
  padding: 40px;
}

div.cajasuso {
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 20px;
}

div.cajasfuncionamiento {
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 20px;
}

div.cajasdatos {
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 20px;
}

div.cajasventajas {
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 20px;
}

div.cajasriesgos {
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 35px;
}

div.cajasopinion {
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 20px;
}

div.juego {
  display: flex;
  float: left;
  width: 550px;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 20px 20px 20px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 15%;
  box-shadow: 3px 3px 5px 0px black;
  padding: 40px;
  background-color: blueviolet
}

div.cajasjuegos {
  display: flex;
  float: left;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 10px 10px 10px 10px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  padding: 20px;
}

button{
  border: 2px solid rgb(0, 0, 0);
  transition: background-color 0.3s ease-in-out;
  transition: padding 0.3s ease-in-out;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  background: none;
}

button.piedra:hover{
  padding: 20px;
  background-color: rgb(112, 112, 112);
  font-weight: bold;
}

button.papel:hover{
  padding: 20px;
  background-color: rgb(255, 255, 250);
  font-weight: bold;
}

button.tijera:hover{
  padding: 20px;
  background-color: rgb(174, 36, 5);
  font-weight: bold;

}

button.terminar:hover{
  padding: 20px;
  background-color: rgb(221, 224, 17);
  font-weight: bold;
}

p#maquina{
  padding: 10px;
  border-radius: 50%;
}

p#resultado{
  padding: 10px;
  border-radius: 50%;
}

h4#jugador{
  padding: 10px;
  border-radius: 50%;
}